foreignObject > div > span {
    margin:.25rem !important;
    text-align:justified !important;
  }
  foreignObject > div > span i {
    font-size:2.5rem !important;
    margin-left:.85rem !important;
    margin-top:-.5rem;
  }
  .mermaid .edgeLabel{
    background-color:#FFFFFF;
    text-align:left;
    opacity:1 !important;
  }
  .mermaid .label {
    padding:1rem .25rem !important;
  }
  
  foreignObject > div, circle{
    padding:-10% 0 !important;
  }
  
  svg {
    overflow:auto !important;
    margin-left:auto;
    margin-right:auto;
  }